html{
    background-color: rgb(194, 148, 99);
}




.player{
    border-radius: 15px;
    }

     .music_player{
    text-align: center;
    max-width: 15%;
    min-width: 200px;
    display:block;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: blanchedalmond;
    opacity: 30%;
    display: inline-block;;
    border-radius: 15px;
    transition: opacity 0.3s, visibility 0.3s;

    border-image: linear-gradient(to right, #ffa6e7 0%, #ff9e27 30%,  #ffeb79 60%, #ff726d 100%) 1; 
    border-width: 5px;
    border-style: solid;
}

.music_player:hover{
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 100%;
}

#songimage{
    width: 50%;
    margin-top: 2vh;
}

.songinfo{
    text-align: left;
    margin: 2vh;
}

.sliderandbuttons{
    text-align: center;
}




#volumeslider, #slidersong{
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10vw;
    height: 0.5em;
    border: solid rgb(160, 129, 83) 1px;
    background: repeating-linear-gradient(45deg, rgb(255, 147, 147), rgb(255, 218, 55) 12px, rgb(255, 145, 55) 12px, rgb(226, 129, 255) 24px);
    display: inline-block;
    border-radius: 10px;
}

#slidersong::-webkit-slider-thumb{
    background-color: black;
}



.musicbuttons{
    margin-top: 2vh;
    display: inline-block;
    text-align: center;

}

.musicbutton{
    position: relative;
    display: inline-block;
}

.main_container{
    text-align: center;
    margin-top: 40vh;
}

.welcome_text{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Downloads{
    text-align: center;
}

.Item{
 display: inline-block;
 margin-top: 5vh;
 margin-bottom: 10vh;
 text-align: center;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 5vh;
 width: 80vw;
}

.Item img{
    width: 80vw;
    border-radius: 10px;
    border-color: rgb(63, 45, 40);
    border-style: solid;
    border-width: 5px;
}


.Item img:hover{
   opacity: 80%;
}

.Item div{
    text-align: left;
}



.Showcase img{
    width: 80vw;
    border-radius: 10px;
     border-color: rgb(63, 45, 40);
    border-style: solid;
    border-width: 5px;
}

.button{
    margin-top: 3vh;
    margin-bottom: 3vh;
}



.button button{
    height: 10vh;
    width: 20vw;
    border-radius: 5px;
    border-color: none;
    border-style: none;
    background-color: rgb(255, 210, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 5vh;
    color: black;
}

.button2 button{
    height: 20vh;
    width: 20vw;
    border-radius: 5px;
    border-color: none;
    border-style: none;
    background-color: rgb(255, 210, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 5vh;
    color: black;
}

.button button:active{
    background-color: rgb(137, 64, 93);
    color: rgb(255, 255, 255);
    box-shadow: 5px;
}

.button button:hover{
    background-color: antiquewhite;
    color: rgb(129, 115, 115);
}

.button2 button:hover{
    background-color: antiquewhite;
    color: rgb(129, 115, 115);
}

